*{
	color: #333;
}
.logo{
	color: #EA6F5A;
	font-size: 30px;
	font-weight: 700;
	font-family: "Comic Sans MS", cursive;
	text-align: center;
}
.box{
	width: 350px;
	height: 450px;
	margin: auto;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
	border-radius: 10px;
	padding: 20px 50px 40px;
	background: rgba(255,255,255,.5);
}
.form-group{
	padding-bottom: 10px;
}
label{
	font-weight: 400;
	font-size: 16px;
	float: left;
	margin-bottom: 0;
}
.error{
	color: red;
	display: inline-block;
}