body {
  background: #f7f7f7;
}
/*中间内容 start*/
.cyy-contentbox {
  width: 1200px;
  padding: 5px;
  overflow: hidden;
  margin: 0 auto;
}
/*左边盒子 start*/
.cyy-leftbox {
  height: auto;
  width: 300px;
  overflow: hidden;
  float: left;
  box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);
  -webkit-box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);
  -o-box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);
  -ms-box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);
  filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(150, 150, 150, 0.2), Direction=45, Strength=20);
  /* IE6/7/8 */

}
.cyy-leftbox .catlist {
  width: 100%;
  border-top: 4px solid #007fce;
  height: auto;
  overflow: hidden;
  padding-bottom: 13px;
  background: #fff;
}
/*文字列表导航 start*/
.cyy-leftbox .catlist .caption,
.cyy-leftbox .catlist .catname {
  width: 280px;
  margin: 0 auto;
  border-bottom: 1px solid #c8c8c8;
}
.cyy-leftbox .catlist .caption {
  height: 92px;
  color: #000;
  text-align: center;
}
.cyy-leftbox .catlist .caption p {
  padding-top: 13px;
  line-height: 36px;
  font-size: 24px;
}
.cyy-leftbox .catlist .caption div {
  line-height: 30px;
  font-size: 20px;
}
.cyy-leftbox .catlist .caption div span {
  /*英文标题左右两边的横线*/
  display: inline-block;
  height: 2px;
  width: 20px;
  background: #6c6c6c;
  margin: 0 6px;
  vertical-align: middle;
}
.cyy-leftbox .catlist .catname {
  width:100%;
  overflow:hidden;
  text-align: center;
  position: relative;
}
.cyy-leftbox .catlist .catname a {
  color: #8e8e8e;
  display: block;
  height: 56px;
  width: 100%;
  line-height: 56px;
  font-size: 18px;
}
.cyy-leftbox .catlist .catname>a.now {
  /*当前选中的分类*/
  background: #f7f7f7;
}
.cyy-leftbox .catlist .catname a.now > i,
.cyy-leftbox .catlist .catname a.now > b {
  display: block;
}
.cyy-leftbox .catlist .catname i {
  /*右边蓝色矩形*/
  display: none;
  font-style: normal;
  font-size: 24px;
  color: #fff;
  font-family: simsun;
  height: 57px;
  width: 30px;
  line-height: 58px;
  position: absolute;
  right: 0;
  top: -1px;
  background: #037dca;
}
.cyy-leftbox .catlist .catname b {
  /*左边蓝色竖条*/
  display: none;
  height: 57px;
  width: 4px;
  background: #037dca;
  position: absolute;
  left: 0;
  top: -1px;
}
.cyy-leftbox .catlist .no_btm_border {
  /*去除底部边框*/
  border-bottom: none;
}

	/*三级分类*/
	.cyy-leftbox .catlist .catname .catlist3{
		overflow:hidden;
		width:100%;
		background:#fff;
	}
	.cyy-leftbox .catlist .catname .catlist3 a{
		display:block;
		height:40px;
		line-height:40px;
		padding-left:40px;
		background:#fff;
		text-align:left;
	}
	.cyy-leftbox .catlist .catname .catlist3 a.now{
		background:#f7f7f7;
	}

		/*文字列表导航 end*/
/*图片列表导航 start*/
.cyy-leftbox .catlist .imgcatlist {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 20px;
  overflow: hidden;
  background: #fff;
}
.cyy-leftbox .catlist .imgcatlist li {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 15px;
}
  /*图片盒子 start*/
.cyy-leftbox .catlist .imgcatlist li .imgbox {
  height: 212px;
  width: 100%;
  background: #ddd;
  text-align: center;
  margin-bottom: 8px;
	overflow:hidden;
}
.cyy-leftbox .catlist .imgcatlist li .imgbox img {
  height: 100%;
}
  /*图片盒子 end*/
.cyy-leftbox .catlist .imgcatlist li h4 {
  width: 100%;
  line-height: 26px;
  font-size: 18px;
  font-weight: normal;
}
.cyy-leftbox .catlist .imgcatlist li h4 a {
  color: #000;
}
  /*点击量和时间信息 start*/

.cyy-leftbox .catlist .imgcatlist li .info {
  height: 22px;
  line-height: 22px;
  color: #000;
}
.cyy-leftbox .catlist .imgcatlist li .info span {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  min-width: 65px;
  padding-right: 15px;
}
.cyy-leftbox .catlist .imgcatlist li .info span i {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 6px;
  vertical-align: middle;
}
  /*点击量*/
.cyy-leftbox .catlist .imgcatlist li .info .good i {
  background-image: url(../images/list/icon_love.jpg);
}
  /*时间*/
.cyy-leftbox .catlist .imgcatlist li .info .time i {
  background-image: url(../images/list/icon_clock.jpg);
}
  /*点击量和时间信息 end*/

/*图片列表导航 end*/


/*精品课程讲师 start*/
.cyy-leftbox .catlist .teacher {
  width: 240px;
  margin: 0 auto;
  border-bottom: 9px;
  background: #fff;
}
.cyy-leftbox .catlist .teacher .imgbox {
  width: 100%;
  height: 195px;
  margin: 0 auto 9px;
  text-align: center;
  background: #ddd;
	overflow:hidden;
}
.cyy-leftbox .catlist .teacher .imgbox img {
  height: 100%;
}
.cyy-leftbox .catlist .teacher h5 {
  line-height: 26px;
  height: 26px;
  text-align: center;
  font-weight: normal;
}
.cyy-leftbox .catlist .teacher h5 b {
  font-weight: normal;
  color: #2479b0;
}
/*精品课程讲师 end*/


/*信息检索搜索框  start */
.cyy-leftbox .searchbox {
  width: 298px;
  height: 52px;
  border: 2px solid #047cca;
  margin-bottom: 20px;
}
.cyy-leftbox .searchbox .search {
  padding-left: 18px;
  color: #c3c3c3;
  line-height: 52px;
  height: 52px;
  width: 220px;
  border: none;
}
.cyy-leftbox .searchbox .search-btn {
  height: 52px;
  width: 48px;
  float: right;
  border: none;
  background-image: url(../images/list/search_btn.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
/*信息检索搜索框  end */

/*左边盒子 end*/


/*右边盒子 start*/
.cyy-rightbox {
  width: 879px;
  min-height: 600px;
  /*border:1px solid transparent;*/
  padding: 1px;
  float: right;
  overflow: hidden;
 /* box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);
  -moz-box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);
  -webkit-box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);
  -o-box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);
  -ms-box-shadow: 1px 1px 20px rgba(150, 150, 150, 0.25);*/
  /*filter: progid:DXImageTransform.Microsoft.Shadow(color=rgba(150, 150, 150, 0.2), Direction=45, Strength=20);*/
  /* IE6/7/8 */
}
.cyy-rightbox #iframe {
  width: 100%;
  min-height: 600px;
}
/*右边盒子 end*/
/*中间内容 end*/

/*列表盒子*/
		div.right{
			width:100%;

		}
		div.right .nav{
			padding: 3px 0 16px 0;
		}
		div.right .nav>a{
			text-decoration: none;
			font-size: 14px;
			color: #000;
			
		}
		div.right .listbox{
			background: #FFFFFF;
			box-shadow: 0 3px 15px rgba(0,0,0,0.3);
		}
		div.right .listbox .list_top{
			padding: 44px 0 44px 40px;
			background: #037DCA;
			font-size: 24px;
			color: #FFFFFF;
			letter-spacing: 3px;
			font-weight: normal;
		}
		div.right .listbox .list_bottom .box{
			padding-left:2.23%;
			padding-right:2.23%;
			position: relative;
		}
		div.right .listbox .list_bottom li{
			border-bottom: 1px solid #CACACA;
			padding: 24px 4% 19px 4%;
			position: relative;	
			font-size: 16px;
		}
		div.right .list_bottom{
			padding-bottom: 22px;
		}

		div.right .listbox .list_bottom .box:nth-child(1){
			margin-top: 44px;
		}	
		div.right .listbox .list_bottom .box:last-child li{
			border: 0;
		}	
		div.right .boxsmall{
			box-sizing: border-box;
			border: 2px solid #347394;
			height: 68px;
			width: 100%;
			position: absolute;
			left: 0;
			top: -2px;
			z-index: 999;
			display: none;
			cursor: pointer;
		}
		div.right .boxsmall .sanjiao{
			display: inline-block;
			width: 0;
			height: 0;
			border-top: 20px solid #0e7bd6;
			border-left: 20px solid transparent;
			position: absolute;
			right: 0;
			top: 0;
			
		}
		div.right .listbox .list_bottom li>a{
			color: #757575;
			text-align: left;
			text-decoration: none;
			display: inline-block;
			width: 100%;
			height: 100%;
		}	
		div.right .listbox .list_bottom li>span{
			font-size: 14px;
			position: absolute;
			right: 4%;
			color: #cecece;
			
		}
		div.right>p.nav>a:nth-child(1){
			letter-spacing: 3px;
		}
		div.right>p.nav>a:nth-of-type(2){
			letter-spacing: 2px;
		}		
		div.right p.nav .round{
			display: inline-block;
			width: 5px;
			height: 5px;
			border: 5px solid #3c3c3c;
			border-radius: 50%;
			position: relative;
			left: 0;
			top: 3px;
		}
		div.right p.nav  .bgcolor{
			border-color: #037dca;
		}
		div.right p.nav .gt{
			font-family: '宋体';
			color: #b9b9b9;
			margin-right: 10px;
		}
		div.page_nav{
			text-align: center;
			margin-top: 59px;
		}
		div.page_nav ul{
			overflow: hidden;
			display: inline-block;
		}
		div.page_nav ul li{
			font-size: 14px;
			float: left;
			margin-right: 16px;
			line-height: 24px;
		}
		div.page_nav ul li>a{
			box-sizing: border-box;
			border: 1px solid #2f2f2f;
			width: 28px;
			height: 24px;
			text-decoration: none;
			display:inline-block;
			line-height: 24px;
			text-align: center;
			color: #373737;
			background-color: #FFFFFF;
		}
		div.page_nav ul li>.active{
			background: #8abc27;
			color: #FFFFFF;
			border: 0;
		}
		div.page_nav ul li>.add{
			margin-right: 23px;
			width: 50px;
			height: 24px;
			font-size: 21px;
			font-weight: normal;
			color: rgba(0,0,0,0.6)
		}
		div.page_nav ul li>.remove{
			border: 0;
			background: none;
		}
		div.page_nav ul li>span{
			float: left;
			font-size: 13px;
		}
		div.page_nav ul li>.pages{
			width: 50px;
			height: 24px;	
			display: inline-block;
			border: 1px solid #2f2f2f;
			margin: 0 16px;
		}
	div.right>.listbox .change{
		background: rgba(247,247,247,1);
	}
	div.right .jiantou{
		font-size: 12px;
		font-weight: bold;
		color: #bfbfbf;
	}
	.page_nav ul li>.pages input {
	    width: 100%;
	    border: none;
	    outline: none;
	    text-align: center;
	}	