body{
    padding: 50px;
    box-sizing: border-box;
    background:#FCD83E;
}
.box{
    width: 1000px;
    height: auto;
    margin: 30px auto;
}
.img{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 120px;
    margin-bottom: 30px;
    width: 140px;
    height: 140px;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
}