.box{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    margin: auto;
}
table{
    width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}
th{
    background: #FCD83E;
    height: 50px;
    font-size: 16px;
    color: #333;
}
th,td{
    text-align: center;
}
td a{
    padding: 5px 10px;
    border-radius: 5px;
    background: #FCD83E;
    color: #333;
    cursor: pointer;
    margin: 0 5px;
}
td a:hover{
    text-decoration: none;
    color: #333;
}
input{
    border: 0;
}