<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
	<link rel="stylesheet" href="{CSS_PATH}/admin/styles.css">
    <link rel="stylesheet" href="{CSS_PATH}/admin/login.css">
    <script src="{JS_PATH}/jquery-min.js"></script>
    <script src="{JS_PATH}/admin/login.js"></script>
</head>
<body>
<form action="index.php?m=admin&a=onLogin" method="post">
	<div class="wrapper">
	<div class="dxj_topnav">
		<a href="index.php?m=index" title="返回首页"><div class="xiaohui"></div></a>
	</div>
	<div class="rightbox"></div>
	<div class="dxj_sanniuword"></div>
	<div class="bigbox">
	<div class="panel-lite">
	  <div class="thumbur">
		<div class="icon-lock"></div>
	  </div>
	  <h4>后台用户登录</h4>
	  <div class="form-group">
		<input required="required" class="form-control" autocomplete="off" type="text" value="" name="username"/>
		<label class="form-label">用户名 </label>
	  </div>
	  <div class="form-group">
		<input type="password" required="required" class="form-control" value="" name="password"/>
		<label class="form-label">密　码</label>
	  </div>
	  <div class="form-group">
		<input required="required" class="form-control" type="text" value="" name="code" size="4" use="no">
		<label class="form-label">验证码</label>
		<img src="index.php?m=admin&f=index&a=code" autocomplete="off" alt="验证码" title="点击更换" class="code" onclick="this.src='index.php?m=admin&f=index&a=code&'+Math.random()">
	  </div>
		<!--<img src="index.php?m=admin&f=index&a=code" alt="验证码" title="点击更换" class="code" onclick="this.src='index.php?m=admin&f=index&a=code&'+Math.random()">-->
	   <br/>
	    <button class="floating-btn">登录</button>
	</div>
	</div>
    <ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	</div>
</form>
</body>
</html>