<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
<body>
<form action="index.php?m=admin&f=mains&a=addcategory2" role="form" method="post" style="margin: 20px">
    <div class="form-group">
        <label for="name">选择列表</label>
        <select name="pid" class="form-control">
            <option value="0">一级分类</option>
            {$result}
        </select>
    </div>
    <div class="form-group">
        <label for="name">分类名称</label>
        <input type="text" class="form-control" name="cname" placeholder="请输入分类名称">
    </div>
    <button type="submit" class="btn btn-default">添加</button>
</form>
</body>
</html>