<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="{CSS_PATH}/bootstrap.min.css">
<body>
<table class="table table-striped">
    <caption style="text-align: center;font-size: 26px">博客列表</caption>
    <tr>
        <th>cid</th>
        <th>标题</th>
        <th>发布人</th>
        <th>发布时间</th>
        <th>审核状态</th>
        <th>操作</th>
    </tr>
    {foreach $result $k $v}
        <tr>
            <td>{$k["id"]}</td>
            <td>{$k["stitle"]}</td>
            <td>{$k["sname"]}</td>
            <td>{$k["stime"]}</td>
            <td>{if $k["status"]==0}未审核{elseif $k["status"]==1}审核中{elseif $k["status"]==2}审核未通过{elseif $k["status"]==3}审核通过{/if}</td>
            <td><a href="index.php?m=admin&f=mains&a=lookcontent&id={$k['id']}">查看</a>
                <a href="index.php?m=admin&f=mains&a=delcontent&id={$k['id']}">删除</a></td>
        </tr>
    {/foreach}

</table>
<p style="text-align: center">{$page}</p>
</body>
</html>