html,body{
	padding: 0;margin: 0;
	width: 100%;height: 100%;overflow: hidden;position: relative;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;left: 0;top:0;
  background: #288de3;
  background: -webkit-linear-gradient(top left, #288de3 0%, #4ba3ee 100%);
  background: linear-gradient(to bottom right, #288de3 0%, #4ba3ee 100%);
  opacity: 0.8;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -140px;
  -webkit-animation: square 12s infinite;
  animation: square 12s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(600deg);
            transform: translateY(-800px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-800px) rotate(600deg);
            transform: translateY(-800px) rotate(600deg);
  }
}

.dxj_topnav{
	width: 100%;height: 80px;border:1px solid #ccc;background: rgba(255,255,255,.9);position: relative;z-index: 100;
}
.dxj_topnav a{
	display: block;width: 253px;height: 56px;position: absolute;left: 60px;top:12px;
}
.xiaohui{
	width: 253px;height: 56px;background:url(../../admin/images/gs.png);  
}
.leftbox{
	width: 500px;height: 450px;position: absolute;left: 20px;top:140px;
}
.sanniu{
	width: 500px;height:450px ;float:left;background:url(../../admin/images/sd.png) no-repeat center;
	background-size:contain ;
}
.dxj_sanniuword{
	width: 194px;height: 350px;position: absolute;left:150px;top:200px;
    background: url(../../admin/images/sanniu.png);opacity: 0.5;
}

.rightbox{
	width: 600px;height: 400px;position: absolute;left: -180px;right:0;top:140px;margin:auto;background: red;
    background: url(../../admin/images/y.png);background-size: cover;
}

