.box{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;left: 0;right: 0;bottom: 0;
	margin: auto;
}
table{
	width: 800px;
	margin: 0 auto;
	border-radius: 10px;
	overflow: hidden;
}
th{
	background:rgb(35,235,185);
	height: 50px;
	font-size: 16px;
	color: #fff;
}
th,td{
	text-align: center;
}
a{
	padding: 5px 10px;
	border-radius: 5px;
	background: rgb(35,235,185);
	color: #fff;
	cursor: pointer;
	margin: 0 5px;
}
td a:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.adddiv{
	text-align: left;
}
.neirong{
	width: 200px;
	height: 30px;
	margin:0 60px;
	text-align: center;
}