<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/css/login.css">
<body style="background-image: url(/img/mu61.jpg)">
<div class="box">
    <form action="/login/loginInfo" autocomplete="off">
        <div class="top">
            <div class="login">登录</div>
        </div>
        <div class="center"><input type="text" placeholder="请输入账号" name="uname"></div>
        <div class="center"><input type="password" placeholder="请输入密码" name="upass"></div>
        <div class="center">
            <input type="submit" value="登录" id="denglu">
        </div>
    </form>
</div>
</body>
</html>