<style>
    .tsdl{
        display:none;
        position: fixed;
        width: 300px;
        box-sizing: border-box;
        padding:50px;
        height: 200px;
        text-align: center;
        top: 50%;
        left: 50%;
        background:#fff;
        box-shadow: 0 0 20px 0 rgba(0,0,0,.5);
        margin-top: -100px;
        border-radius: 10px;
        margin-left: -150px;
    }
</style>
<div class="tsdl">
    您还没有登录哦！<br><br><br>
    <a href="index.php?f=login" class="btn btn-warning">登录</a>
    <a class="btn btn-danger quxiaodenglu">取消</a>
</div>
